body{
    margin: 0;
    font-family: 'Times New Roman';
}

.menu{
    overflow: hidden;
    background-color: rgb(40, 21, 132);
    position: static;
    top: 0;
    width: 100%;
    
}

.menu a{
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover{
    background: rgb(103, 96, 143);
    color: rgb(20, 20, 20);
}
.tbx{
    color: mediumseagreen;
    padding: 5px;
    font-family: Raleway;
}
.etiqueta{
    color: blueviolet;
    font-family: raleway;
}
.boton{
    background-color: mediumseagreen;
    color: white;
    padding: 10px;
    font-family: raleway;
    font-size: medium;
    border: 0 solid #000000;
}
.subtitulo{
    color:mediumseagreen;
}
.bd{
    border: solid 2px;
    position: relative;
    padding: 10px;
}
.tb{
    border: solid 2px;
    position: relative;
    padding: 10px;
}